priority -100
snippet _box "Box"
`!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
│ $1 │
`!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`$0
endsnippet

priority -100
snippet _cbox "Box"
`!v GetLineCommentMarker()` `!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
`!v GetLineCommentMarker()` │ $1 │
`!v GetLineCommentMarker()` `!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`$0
endsnippet
